h1 {color: rgb(99, 99, 163);
}
#myHeader{
    text-align: center;
    font-family: 'Barriecito', cursive;
    font-size: 64pt;
}
#instructionTxt {
    font-size: 12pt;
    font-style: italic;
}

#myCard {
    align-content: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16pt;
}